<h1>{{ section.settings.title }}</h1>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ]
}
{% endschema %}

